.flex__controls {
  display: flex;
}

.new-product__controls {
  margin-top: 32px;
  padding: 30px;
  box-shadow: 5px 40px 90px 2px #d1dbe3;
  gap: 44px;
}

.new-product-form__control {
  gap: 28px;
}

::placeholder {
  color: #9dafbd;
}
.new-product-form__control input,
.new-product-form__control select {
  height: 60px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin solid #d1dbe3;
  font-size: 14px;
}

.new-product-form__control select {
  padding-right: 30px;
}

.btnSubmit {
  background-color: #026fc2;
  color: white;
  border: none;
  width: 135px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
