:root {
  --primary-color-blue: #026fc2;
  --primary-color-grey: #d1dbe3;
  --primary-color-dark-grey: #9dafbd;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

#root {
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--primary-color-blue);
  font-size: 54px;
  font-weight: normal;
}
